Source: healthnmon
Section: net
Priority: extra
Maintainer: divakar-padiyar-nandavar <divakar.padiyar-nandavar@hp.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://launchpad.net/healthnmon/ 
#Vcs-Git: git://git.debian.org/collab-maint/healthnmon.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/healthnmon.git;a=summary

Package: healthnmon
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-healthnmon
Description: This project provides health and monitoring service for cloud 

Package:  python-healthnmon
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 python (>= 2.6),
 python (< 2.8),
 python-boto,
 m2crypto,
 python-pycurl,
 python-daemon,
 python-carrot,
 python-kombu,
 python-lockfile,
 python-gflags,
 openssl,
 python-libxml2,
 python-ldap,
 python-sqlalchemy,
 python-eventlet,
 python-routes,
 python-webob,
 python-cheetah,
 python-netaddr,
 python-paste,
 python-pastedeploy,
 python-tempita,
 python-migrate,
 python-glance,
 python-novaclient,
 python-simplejson,
 python-lxml,
 python-feedparser,
 python-xattr,
 python-suds,
 sudo,
 python-crypto,
 python-libvirt,
 sudo,
 python-paramiko
Description: Healthnmon project provides health and monitoring service for cloud
 This package contains the Python libraries.

